---
import SkipToContent from '@/components/ui/SkipToContent.astro';
import Navbar from '@/components/ui/Navbar.astro';
import Hero from '@/components/ui/Hero.astro';
import Footer from '@/components/ui/Footer.astro';

import '@/styles/global.css';

import data from '@/data/project.yaml';
import { navLink } from '@/config/ui';

import type { Project } from '@/types/data';
import type { HeroProps } from '@/types/props';

interface Props extends HeroProps {
  title: string;
}

const { title, ...props } = Astro.props;
const { name, fullName, department, address }: Project = data;

const anchorId = 'main';
const anchorLabel = 'Skip to main content';
---

<!doctype html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={`${name} | ${title}`} />
    <title>{name} | {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="Wrapper">
      <SkipToContent anchorId={anchorId} label={anchorLabel} />
      <Navbar brand={name} links={navLink} />
      <Hero {...Astro.props} />
      <div class="Main">
        <div class="container">
          <slot />
        </div>
      </div>
      <Footer brand={fullName} department={department} address={address} />
    </div>
  </body>
</html>
<script src="@/libs/nprogress"></script>
<style></style>
